@using CoreProje.Models
@model List<Kategori>  

@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Kategori ID</th>
                    <th scope="col">Kategori Adi</th>
                </tr>
            </thead>
            @foreach (var x in Model)
            {
                <tbody>
                    <tr>
                        <th scope="row">@x.KategoriId</th>
                        <td>@x.KategoriAdi</td>
                    </tr>
                </tbody>
            }
        </table>
        <!-- service start -->
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="service-block">
                <div class="service-img">
                    <a href="#"><img src="images/service-img-1.jpg" alt="Tour and Travel Agency - Responsive Website Template"></a>
                </div>
                <div class="service-content">
                    <h3><a href="#" class="title">Group Tour</a></h3>
                    <p>Scelerisque vitae velit e llamcorper plvinar esras sit amet odio et dolor por bibendum sit amet neceros.</p>
                    <div class="service-btn-link"><a href="domestic-tour.html" class="btn-link">Yurtdışı Gezileri</a></div>
                    <button type="button" class="btn btn-primary">Yurtdışı Gezileri</button>
                </div>
            </div>
        </div>
        <!-- service close -->
        <!-- service start -->
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="service-block">
                <div class="service-img">
                    <a href="#"><img src="images/service-img-2.jpg" alt="Tour and Travel Agency - Responsive Website Template"></a>
                </div>
                <div class="service-content">
                    <h3><a href="#" class="title">Couple Tour</a></h3>
                    <p>Pellentesque bibendum, ante et ornare viverra, ex neque lorem ipusm dtium vestibulum eros ut lacinia.</p>
                    <div class="service-btn-link"><a href="domestic-tour.html" class="btn-link">Yurtiçi Gezileri</a></div>
                    <button type="button" class="btn btn-primary">Yurtiçi Gezileri</button>
                </div>
            </div>
        </div>
        <!-- service close -->
    </div>
