@using CoreProje.Models
@model List<Kategori>  

@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Kategori ID</th>
                    <th scope="col">Kategori Adi</th>
                </tr>
            </thead>
            @foreach (var x in Model)
            {
                <tbody>
                    <tr>
                        <th scope="row">@x.KategoriId</th>
                        <td>@x.KategoriAdi</td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
