
@{
    ViewData["Title"] = "Tours";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <h1>Tours</h1>
        <h2 style="color:#0026ff"><a href="https://gezikumbarasi.com/cities/belgrad-ekonomik-gezi-rehberi/">Belgrad turu</a></h2>
        <br />

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="destination-img">
                    <a href="https://gezikumbarasi.com/cities/belgrad-ekonomik-gezi-rehberi/" class="imghover">
                        <img src="/images/Belgrad.jpg" alt "Tour and Travel Agency - Responsive Website Template" class="img-responsive">
                    </a>
                </div>
                <div class="destination-content">
                    <h3><a href="/Home/Privacy" class="destination-title">Belgrad</a></h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="destination-img">
                    <a href="https://gezikumbarasi.com/cities/milano-ekonomik-gezi-rehberi/" class="imghover">
                        <img src="/images/Milano.jpg" alt "Tour and Travel Agency - Responsive Website Template" class="img-responsive" >
                    </a>
                </div>
                <div class="destination-content">
                    <h3><a href="/Home/Privacy" class="destination-title">Milano</a></h3>
                </div>
            </div>

        </div>

    </div>

