@using CoreProje.Models
@model IEnumerable<CoreProje.Models.Admin>
@using Microsoft.AspNetCore.Http;


@{
    ViewData["Title"] = "SignUp";

    Layout = null; 
}
<link href="~/css/login-css.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/6c7bb4439b.js" crossorigin="anonymous"></script>


<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="inactive underlineHover"> Sign In </h2>
        <h2 class="active">Sign Up </h2>

        <!-- Icon -->
        <div class="fadeIn first">
            <i class="fas fa-hiking fa-5x"></i>
            <br />
        </div>

        <!-- SignUp Form -->
        <form action="/Admins/SignUp" method="post">
            <input type="text" id="login" class="fadeIn second" name="Email" placeholder="Enter a mail address">
            <input type="text" id="password" class="fadeIn third" name="Password" placeholder="Enter a Password">
            <input type="text" id="password" class="fadeIn third" name="AdminId" placeholder="Enter a ID number">
            <input type="submit" class="fadeIn fourth" value="Sıgn Up">
        </form>
        <!-- Login page -->
        <div id="formFooter">
            <a class="underlineHover" href="/Admins/Login">You have an already account, Sign In</a>
        </div>

    </div>
</div>
